<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="onemessagecompany.onemessage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".data.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Public.ActivateApp"
            android:configChanges="orientation"
            android:label="@string/title_activity_activate_app"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity

            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AdminMainActivity"
            android:label="@string/title_activity_admin_main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Admin.AdminMessageHistoryActivity" />
        </activity>
        <activity
            android:name=".Admin.AddUser"
            android:configChanges="orientation"
            android:label="@string/title_activity_add_user"
            android:parentActivityName=".Admin.AdminMessageHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Admin.AdminMessageHistoryActivity" />
        </activity>
        <activity
            android:name=".Admin.GenerateKey"
            android:configChanges="orientation"
            android:label="@string/title_activity_generate_key"
            android:parentActivityName=".Admin.AdminMessageHistoryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Admin.AdminMessageHistoryActivity" />
        </activity>
        <activity
            android:name=".Admin.ConfigActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_config"
            android:parentActivityName=".Admin.AdminMessageHistoryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Admin.AdminMessageHistoryActivity" />
        </activity>
        <activity
            android:name=".Admin.UserDetailsActivity"
            android:configChanges="orientation"
            android:label="@string/Details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Admin.AdminMessageHistoryActivity" />
        </activity>
        <activity
            android:name=".Admin.EditUserActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_edit_user"
            android:parentActivityName=".Admin.UserDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Admin.UserDetailsActivity" />
        </activity>
        <activity
            android:name=".Admin.ChangePasswordActivity"
            android:configChanges="orientation"
            android:label="@string/change_password"
            android:parentActivityName=".Admin.UserDetailsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Admin.UserDetailsActivity" />
        </activity>
        <activity
            android:name=".Public.SendMessageActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_send_message"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Admin.AdminMessageHistoryActivity" />
        </activity>
        <activity
            android:name=".Admin.NotificationActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_notification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Public.PublicMainActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_publick_main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Admin.AdminMessageHistoryActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_admin_message_history"></activity>
        <activity
            android:name=".Admin.RepliesActivity"
            android:configChanges="orientation"
            android:label="Message"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Admin.AdminMessageHistoryActivity" />
        </activity>
        <activity
            android:name=".Public.MessageDetailsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_message_details"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Public.PublicMainActivity" />
        </activity>
        <activity
            android:name=".Admin.ChangeAdminPasswordActivity"
            android:configChanges="orientation"
            android:label="Admin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Admin.AdminMessageHistoryActivity" />
        </activity>
        <activity
            android:name=".Admin.ForgetPasswordListActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_forget_password_list"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Admin.AdminMessageHistoryActivity" />
        </activity>
        <activity
            android:name=".Public.ForgetPasswordActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_forget_password"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <service android:name=".rest.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".rest.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>